* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}


body {
	font-family: helvetica;
	background: rgb(255, 255, 255);
}

.profile {
	height: auto;
	width: auto;
	margin: 15px;
	font-size: 30px;
}

p {
	padding-bottom: 10px;
}

p:hover {
	color: #ff00d9;
}