body {
	background: #ffffff;
	/* border-style: solid; */
	
}




.header1 {
	height: 60px;
	display: grid;
	/* grid-template-columns: auto 1fr; */
	width: 300px;
	border-style: solid;
	border-color:black;
	margin-top: -10.5px;
	margin-left: -10.5px;
	margin-bottom: 9px;
	margin-right: -10.5px;
}


h1 {
    display: block;
	padding: 10px;
	font-family: share tech mono;
	font-size: 30px;
	margin-top: 10px;
}


.everything {
	display: flex;
	margin: -9px;
}


.onebigcontainer {
	display: grid;
	grid-template-columns: auto;
	width: 300px;
	display: inline-block;
}


.imagecontainer {
	height: auto;
	display: inline-block;
	width: 800px;
	flex: 1;
	padding: 5px;
	border-style: solid;
	border-color:black;
	margin-right: -1.5px;
	margin-top: -1.5px;
	margin-bottom: -1.5px;
}



.container0 {
	column-count: 2;
	/* display: flex; */
	display: grid;
	grid-template-columns: auto 1fr;
	/* flex-wrap: wrap; */
	width: 300px;
    height: auto;
	/* justify-content: space-between; */
	border-style: solid;
	border-color:black;
	/* margin-left: -1.5px;
	margin-top: -1.5px;
	margin-bottom: -1.5px; */
	margin: -1.5px;
}


#itempreviewbox {
	width: 100px;
	height: 100px;
	/* position: relative; */
	justify-content: center;
	align-items: center;
}



#itemname {
	width: auto;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	padding: 10px;
	border-style: solid;
	border-color: black;
	font-family: share tech mono;
	margin: -1.5px;
	line-height: 18px;
}


.container1 {
	column-count: 2;
	/* display: flex; */
	display: grid;
	grid-template-columns: auto 1fr;
	/* flex-wrap: wrap; */
	width: 300px;
    height: auto;
	/* justify-content: space-between; */
	border-style: solid;
	border-color:black;
	/* margin-left: -1.5px;
	margin-top: -1.5px;
	margin-bottom: -1.5px; */
	margin: -1.5px;
}


.container2 {
	column-count: 2;
	/* display: flex; */
	display: grid;
	grid-template-columns: auto 1fr;
	/* flex-wrap: wrap; */
	width: 300px;
    height: auto;
	/* justify-content: space-between; */
	border-style: solid;
	border-color:black;
	/* margin-left: -1.5px;
	margin-top: -1.5px;
	margin-bottom: -1.5px; */
	margin: -1.5px;
}


.container3 {
	column-count: 2;
	/* display: flex; */
	display: grid;
	grid-template-columns: auto 1fr;
	/* flex-wrap: wrap; */
	width: 300px;
    height: auto;
	/* justify-content: space-between; */
	border-style: solid;
	border-color:black;
	/* margin-left: -1.5px;
	margin-top: -1.5px;
	margin-bottom: -1.5px; */
	margin: -1.5px;
}
  
.container4 {
	column-count: 2;
	/* display: flex; */
	display: grid;
	grid-template-columns: auto 1fr;
	/* flex-wrap: wrap; */
	width: 300px;
    height: auto;
	/* justify-content: space-between; */
	border-style: solid;
	border-color:black;
	/* margin-left: -1.5px;
	margin-top: -1.5px;
	margin-bottom: -1.5px; */
	margin: -1.5px;
}

.container5 {
	column-count: 2;
	/* display: flex; */
	display: grid;
	grid-template-columns: auto 1fr;
	/* flex-wrap: wrap; */
	width: 300px;
    height: auto;
	/* justify-content: space-between; */
	border-style: solid;
	border-color:black;
	/* margin-left: -1.5px;
	margin-top: -1.5px;
	margin-bottom: -1.5px; */
	margin: -1.5px;
}


#box1 {
	width: auto;
	height: auto;
	background-color: #ffffff;
	padding: 10px;
	line-height: 18px;
	border-style: solid;
	margin: -1.5px;
}


.box2 {
	width: auto;
	height: auto;
	background-color: #ffffff;
	padding: 10px;
	border-style: solid;
	border-color: black;
	font-family: share tech mono;
	margin: -1.5px;
	align-items: center;
	display: flex;
	overflow: hidden;
	font-size: 14px;
	line-height: 18px;
}



h2 {
	font-family: share tech mono;
	font-size: 14px;
	margin: 0px;
	font-weight: normal;
	align-items: center;
	text-align: center;
}



img {
	height: 280px;
}

img:hover {
	transform: scale(2);
	opacity: 1;
}


